name: CI
on:
  push:
    paths:
      - '.github/workflows/ci.yaml'
      - 'go.*'
      - '**/*.go'
      - 'Dockerfile'
      - 'Makefile'
  pull_request:
    paths:
      - '.github/workflows/ci.yaml'
      - 'go.*'
      - '**/*.go'
      - 'Dockerfile'
      - 'Makefile'

jobs:
  build:
    runs-on: ubuntu-24.04

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Set up Go
        uses: actions/setup-go@v6.1.0
        with:
          go-version-file: 'go.mod'

      - name: Tidy check
        run: |
          go mod tidy
          git diff --exit-code go.mod go.sum

      - name: Setup golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0

      - name: Build binary
        run: make build
